.btn-primary{
    background-color: #c229ff;
    border: #c229ff;
    color: black;
}

.navbar{
    background-color: #323131;
    
}


#container1{
    background-image: url(/Images/DarkPsy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container h1, p{
    font-weight: bold;
    color: #fff;
    
}

.container h2{
    font-weight: bold;
    color: #fff;
}

.bg-drugDark{
    background-color: rgb(26, 26, 26);
}
.card{
    background-color: #000;
}

.card-img{
    background-image: url(/Images/Morfin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textfield {
    background-color: rgb(0, 0, 0);
    
}

.carousel-text p, h1{
    text-shadow: 2px 3px black;
}

.bd-placeholder-img{
    width: 140px;
    height: 140px;
    background-size: contain;
    border: 2px solid white;
}

.marketing{
    background-color: rgb(26, 26, 26);
}

main{
    background-color: rgb(26, 26, 26);
}

.card{
    color: #fff;
}
.card button{
    text-decoration: underline;
    color: #fff;
}

.faqTitle{
    color: #fff;
    text-align: center;
}

.fullW{
    height: 60vh;
    margin: auto;
}

.spinners div{
    margin: auto;
}

.alert{
    text-align: center;
}


#shippingFooter{
    margin-top: 50px;
}

.media{
    
    color: #fff;
}